<!-- <p>acerca works!</p>
 -->
 <div class="py-24 sm:py-32">
  <div
    class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-1"
  >
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Taller de Angular
        Computación	para la Nube
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Integrantes:
      </p>
    </div>
    <ul
      role="list"
      class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2"
    >
      <li class="users">
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fatf7-1.fna.fbcdn.net/v/t1.6435-9/52958262_398949747330087_490073459443892224_n.jpg?_nc_cat=103&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHAfZpgMEv3ZpYm7m3B72-ZGY-THPQmIQ0Zj5Mc9CYhDaoRT6sVgxYzS1O7mGmwccSY8sjZpUP5Nf9y4edNJ9H2&_nc_ohc=IGQ9mgNILR0AX-wWcnS&_nc_ht=scontent.fatf7-1.fna&oh=00_AfCC1iXVpu1MU8ppzX6G24dZO0V-ZFOKwpPIJ84bB3LM7g&oe=64CECDB7"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              David Cabezas
              <br>
              6862
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Lider del Equipo
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fatf7-1.fna.fbcdn.net/v/t1.6435-9/117648143_3087785597983615_4077883477981543436_n.jpg?_nc_cat=100&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeGe9Rd3EXUaDnvbK3V7s9J9FpnYYzkCjKwWmdhjOQKMrBe8HBkS885mRkLb1gDn_e2RIj6ZEx9jkjXIZI171FLq&_nc_ohc=ZMEYHupifTcAX-BVIxo&_nc_ht=scontent.fatf7-1.fna&oh=00_AfCkD_2bCrZ2P_zax4q28-Il6s4b2oUElooqTqch2KyPQA&oe=64CEFB14"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Franklin Alvarez  <br> 6854
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Backend
            </p>
          </div>
        </div>
        <div class="flex items-center gap-x-6">
          <img
            class="h-16 w-16 rounded-full"
            src="https://scontent.fatf7-1.fna.fbcdn.net/v/t1.6435-9/105705843_1142422066135479_7805363317526224343_n.jpg?_nc_cat=107&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeFsvr8OrVhQuSP3xn2IsWMin4L3nSgIx3OfgvedKAjHc7exmdV0ZeUOfVRdOeyPvMKkNENqUJb5OXx0QRy86L9h&_nc_ohc=2YGlSoEt1JYAX-JlA3X&_nc_ht=scontent.fatf7-1.fna&oh=00_AfBQbf3d_dXzZ-0GLLNW8O7gxAj4_NsRfaFzegNItYswzQ&oe=64CEF809"
            alt=""
          />
          <div>
            <h3
              class="text-base font-semibold leading-7 tracking-tight text-gray-900"
            >
              Marlon Medina <br> 6827
            </h3>
            <p class="text-sm font-semibold leading-6 text-indigo-600">
              Frondend
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
